# Dependency directories
node_modules/
backend/venv/

# Environment variables file
backend/.env

# Next.js build output
.next/
out/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
